In [1]:
import streamlit as st
import pandas as pd
import plotly.express as px
import scipy.stats

car_data = pd.read_csv("../vehicles_us.csv")

car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

<div style="background-color: #d7deed;">
    <p style="color:#783413">
            <b>Vamos a limpiar los datos
            </b>
    </p>
</div>

In [2]:
car_data['model_year'] = car_data['model_year'].fillna(car_data['model_year'].mean()).astype(int)
car_data['model'] = car_data['model'].str.upper()
car_data['condition'] = car_data['condition'].str.upper().fillna('UNKNOWN').astype('category')
car_data['cylinders'] = car_data['cylinders'].fillna(car_data['cylinders'].mean()).astype(int)
car_data['fuel'] = car_data['fuel'].str.upper().astype('category')

#Se intenta llenar con la mediana y la media, sin embargo se disparan los indicadores
car_data['odometer'] = car_data['odometer'].fillna('0').astype('int')
#car_data['odometer'] = car_data['odometer'].fillna(car_data['odometer'].median()).astype(int)
#car_data['odometer'] = car_data['odometer'].fillna(car_data['odometer'].mean()).astype(int)

car_data['transmission'] = car_data['transmission'].str.upper()
car_data['type'] = car_data['type'].str.upper()
car_data['paint_color'] = car_data['paint_color'].str.upper().fillna('UNKNOWN').astype('category')
car_data['date_posted'] = pd.to_datetime(car_data['date_posted'])
car_data['is_4wd'] = car_data['is_4wd'].fillna('0').astype('int')
car_data.columns = car_data.columns.str.upper()

In [3]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRICE         51525 non-null  int64
 1   MODEL_YEAR    51525 non-null  int64
 2   MODEL         51525 non-null  object
 3   CONDITION     51525 non-null  category
 4   CYLINDERS     51525 non-null  int64
 5   FUEL          51525 non-null  category
 6   ODOMETER      51525 non-null  int64
 7   TRANSMISSION  51525 non-null  object
 8   TYPE          51525 non-null  object
 9   PAINT_COLOR   51525 non-null  category
 10  IS_4WD        51525 non-null  int64
 11  DATE_POSTED   51525 non-null  datetime64[ns]
 12  DAYS_LISTED   51525 non-null  int64
dtypes: category(3), datetime64[ns](1), int64(6), object(3)
memory usage: 4.1+ MB

In [4]:
car_data.head()

,PRICE,MODEL_YEAR,MODEL,CONDITION,CYLINDERS,FUEL,ODOMETER,TRANSMISSION,TYPE,PAINT_COLOR,IS_4WD,DATE_POSTED,DAYS_LISTED
0,9400,2011,BMW X5,GOOD,6,GAS,145000,AUTOMATIC,SUV,UNKNOWN,1,2018-06-23,19
1,25500,2009,FORD F-150,GOOD,6,GAS,88705,AUTOMATIC,PICKUP,WHITE,1,2018-10-19,50
2,5500,2013,HYUNDAI SONATA,LIKE NEW,4,GAS,110000,AUTOMATIC,SEDAN,RED,0,2019-02-07,79
3,1500,2003,FORD F-150,FAIR,8,GAS,0,AUTOMATIC,PICKUP,UNKNOWN,0,2019-03-22,9
4,14900,2017,CHRYSLER 200,EXCELLENT,4,GAS,80903,AUTOMATIC,SEDAN,BLACK,0,2019-04-02,28

<div style="background-color: #d7deed;">
    <p style="color:#783413">
        <b>Aplicando ingeniería de datos</b><br>
        <b>Podemos observar el cambio de formatos, así como el llenado de campos vacíos.</b>
    </p>
</div>